temp/*
temp/
testing/
newsetup.vbs
caffeine32.exe
Caf.zip
temp/caffeine32.exe
temp/Caf.zip
log check.bat
cmd.exe.lnk
scripts/scriptTemp/caf.exe
scripts/scriptTemp/HCS Remote Support.exe
scripts/scriptTemp/HCS Remote Support.lnk
scripts/scriptTemp/HCS.ico
scripts/scriptTemp/hcs/HCS Remote Support.exe
scripts/scriptTemp/hcs/HCS Remote Support.lnk
scripts/scriptTemp/hcs/HCS.ico
